name: Docker Image CD

on:
  workflow_run:
    workflows: ["Docker Image CI"]
    types:
      - completed

jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: pull docker image
      run: docker pull dineshkarasu/cicd-pipeline:latest
    - name: delete old container
      run: docker rm -f cicd-pipeline || true
    - name: run new container
      run: docker rm -f cicd-pipeline || true && docker run -d --restart unless-stopped --name cicd-pipeline -p 127.0.0.1:8080:80 dineshkarasu/cicd-pipeline:latest
